{% extends 'bases/base.html' %}


{% block content %}

<h2>Python</h2>

<h3>Conceito</h3>
<p>
    Python é uma linguagem de programação de alto nível, criada por Guido van Rossum e lançada em 1991. É conhecida por sua simplicidade, clareza e legibilidade, sendo uma das linguagens mais populares do mundo.
</p>
<h3>
    Características principais de Python:
</h3>
<p>
    <b>Fácil de aprender:</b><br>
    <p>A sintaxe lembra o inglês e é limpa.</p>
</p>
<p>
    <b>Multiparadigma:</b><br>
    <p>Suporta programação orientada a objetos, funcional e procedural.</p>
</p>
<p>
    <b>Grande ecossistema:</b><br>
    <p>Milhares de bibliotecas ( como NumPy, Flask, Django, Pandas, etc).</p>
</p>
<P>
    <b>Interpretada:</b><br>
    Você escreve e executa o código sem compilar antes.
</P>
<P>
    <b>Multiplataforma:</b><br>
    funciona no Windows,Linux, Mac, etc.
</P>
<P>
    <b>Usada em várias áreas:</b><br>
    <ul>
        <li>Desenvolvimento Web (com Django, Flask)</li>
        <li>Ciência de Dados e IA (com Pandas, NumPy, TensorFlow)</li>
        <li>Automação e scripts</li>
        <li>Jogos e aplicação desktop</li>

    </ul>
</P>
<h4>Exemplo simples de código de Python:</h4>
<div class="exemplo">
    
    <p>nome = input(“Qual é o seu nome? ”)</p>
    <p>print(f“Olá, {nome}! ”)</p>
</div>



{% endblock %}